@{
    ViewBag.Title = "ExibirTabela";
}

<h2>Tabela da Copa do Mundo 2014</h2>

<object data="@ViewBag.Link" width="100%" height="400">
    <embed src="@ViewBag.Link" width="100%" height="400"> </embed>
    Error: Embedded data could not be displayed.
</object>