@{
    ViewBag.Title = "Regras";
}

<h3>Regras:</h3>
<h4>Taxa de inscrição por participante: R$ 20,00</h4>

<ol class="round">
    <li class="one">
        <h5>Regra 1:</h5>
        10 pontos - Acertar o placar exato.
    </li>

    <li class="two">
        <h5>Regra 2:</h5>
        7 pontos - Acertar o resultado e o placar parcial.
    </li>

    <li class="three">
        <h5>Regra 3:</h5>
        5 pontos - Acertar o resultado e errar o placar.
    </li>

    <li class="four">
        <h5>Regra 4:</h5>
        2 pontos - Errar o resultado e acertar o placar parcial        
    </li>

    <li class="five">
        <h5>Convenções:</h5>
        <ul>
            <li>Resultado: vencedor ou empate</li>
            <li>Placar exato: acertar o n° de gols dos dois times</li>
            <li>Placar parcial: acertar o n° de gols de um dos times</li>
        </ul>
    </li>
    <li class="six">
        <h5>A pontuação:</h5>
        A pontuação final considerada será a soma dos pontos obtidos por cada participante nos 48 jogos da COPA DO MUNDO FIFA 2014
    </li>
    <li class="seven">
        <h5>Prêmio Consolação:</h5>
        Como prêmio de consolação, o lanterna (último colocado) receberá o seu dinheiro de volta (R$ 20,00).
    </li>
    <li class="eight">
        <h5>Valor total arrecadado e taxa de administração:</h5>
        Arrecadado <span style="text-decoration: line-through"> ( – R$30 devolvido ao lanterna ) </span>
        será dividido entre os 3 primeiros colocados, conforme abaixo:
        <ul>
            <li>a) 1° lugar: 55% </li>
            <li>b) 2° lugar: 25%</li>
            <li>c) 3° lugar: 10%</li>
            <li><span style="text-decoration: line-through"> <b>d) Taxa de administração: 10%</b></span> </li> 
        </ul>
    </li>
    <li class="nine">
        <h5>Critérios de desempate:</h5>
        No caso de empate entre dois ou mais participantes, serão utilizados os seguintes critérios de desempate:
        <ul>
            <li>a) Total de pontos acumulados com placares exatos (10 pts + bônus)</li>
            <li>b) Total de pontos acumulados com acertos de 7 pts</li>
            <li>c) Total de pontos acumulados com acertos de 5 pts</li>
            <li>c) Total de pontos acumulados com acertos de 2 pts</li>
            <li>e) Se persistir o empate o prêmio será dividido.</li>
        </ul>
    </li>
</ol>
